body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Light blue background */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 40px; /* Updated padding */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Add space between input fields and buttons */
}

input[type="text"] {
    flex: 2; /* Bigger width for text input */
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="time"] {
    flex: 1; /* Smaller width for time input */
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
}

li .task {
    flex: 2; /* Adjusted width for task text */
}

li .task-time {
    margin-left: 10px;
}

li button {
    margin-left: 5px; /* Adjusted button spacing */
}
